config/schema/menu-manager-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://wiredupdev.com/schema/dic/menu-manager"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://wiredupdev.com/schema/dic/menu-manager"
            elementFormDefault="qualified">

    <xsd:element name="menu">
        <xsd:complexType>
            <xsd:attribute name="type" type="xsd:string" />
            <xsd:attribute name="reference" type="xsd:string" />
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
